{% extends "account.html" %}

{% block context %}
    <!-- DO NOT CHANGE THIS -->
    <h1>Change Password</h1>
    <form action="/accounts/auth" method="put" enctype="multipart/form-data">
        <p>current password</p> <input type="password" name="password" required/>
        <p>new password</p><input type="password" name="new_password1" required/>
        <p>confirm password</p><input type="password" name="new_password2" required/>
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}